<h3 style="text-align: center; margin-top: 30px; font-weight: bold;">Them sach</h3>
<form action="/api/book" method="POST">
  <div class="form-group">
    <label for="email">isBN:</label>
    <input type="text" class="form-control" id="email" name="isbn">
  </div>
  <div class="form-group">
    <label for="pwd">title:</label>
    <input type="text" class="form-control" id="pwd" name="title">
  </div>
  <div class="form-group">
    <label for="pwd">author:</label>
    <input type="text" class="form-control" id="pwd" name="author">
  </div>
  <div class="form-group">
    <label for="pwd">publisher:</label>
    <input type="text" class="form-control" id="pwd" name="publisher">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>