<h3>{{titleView}}</h3>

<form action="/car/inserCar" method="POST">
  <div class="form-group">
    <label for="email">Tên Hãng Xe:</label>
    <input type="text" class="form-control" id="email" placeholder="Tên Hãng Xe" name="ten" value="{{items.ten}}">
  </div>
  <div class="form-group">
    <label for="pwd">Năm Sản Xuất:</label>
    <input type="date" class="form-control" id="pwd" placeholder="Năm Sản Xuất" name="nam" value="{{items.nam}}">
  </div>
  <div class="form-group">
    <label for="pwd">Giá Bán:</label>
    <input type="number" class="form-control" id="pwd" placeholder="Giá Bán" name="giaBan" value="{{items.giaBan}}">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
