<div style="width: 100%; height: 50px; background-color: white;"></div>
    <div class="jumbotron text-center" style="margin-top: 20px;">
      
        <h1 class="text-muted " style="font-size: 25px;font-weight: bold;">ELLE FASHION SHOW 2022 <br> MƠ VỀ NHỮNG CHÂN TRỜI MỚI | ELLE VIETNAM</h1>
        <p class="text-muted " style="background-color: #e0e0eb;">Là sự kiện thời trang được mong đợi nhất trong năm!</p> 
      </div>
    <div class="container">
      
        <div class="row">
          <div class="col-lg-4">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/24/517133/EBAs-kv-800x450-1-445x250.jpg" class="img-rounded" 
            alt="Cinque Terre" style="width: 100%;">
            <p style="margin-top:10px;">ELLE BEAUTY AWARDS 2023 – ĐÓN CHỜ NHỮNG HẠNG MỤC VÀ GIẢI THƯỞNG MỚI</p>
           
          </div>
          <div class="col-lg-4 ">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/27/517907/trai-bai-tarot-tuan-27-2-5-3-445x250.jpg" class="img-rounded" 
            alt="Cinque Terre" style="width: 100%;">
            <p style="margin-top:10px;">TRẢI BÀI TAROT: ĐIỀU GÌ SẼ ĐẾN VỚI BẠN TRONG TUẦN LỄ 27/2 – 5/3?</p>
         
          </div>
          <div class="col-lg-4">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/22/517116/Thiet-ke-chua-co-ten-28-445x250.png" class="img-rounded" 
            alt="Cinque Terre" style="width: 100%;">    
            <p style="margin-top:10px;">SERUM DƯỠNG TRẮNG NNO VITE ĐƯỢC ĐỀ CỬ TOP 10 “SẢN PHẨM ĐỘT PHÁ” THUỘC ELLE BEAUTY AWARDS 2023</p>
          
          </div>
        </div>
        <div>
          <img src="https://www.elle.vn/wp-content/uploads/2023/02/21/banner_t1-01pt2-scaled.jpg" 
          style="width: 100%; margin-top: 20px;"/>
        </div>
        <div class="row" style="margin-top: 30px;">
            <iframe class="" src="https://www.youtube.com/embed/tgbNymZ7vqY"
           style="height:300px; width: 50%;"></iframe>
          <div class="col-lg-6">
           <h3>ELLE FASHION SHOW 2022: MƠ VỀ NHỮNG CHÂN TRỜI MỚI | ELLE VIETNAM</h3>
           <p>Là sự kiện thời trang được mong đợi nhất trong năm, ELLE Fashion Show không 
            chỉ mang đến một đêm diễn đậm chất nghệ thuật, giới thiệu những BST mới nhất của các
             NTK và thương hiệu nổi bật mà còn gửi gắm nhiều thông điệp cấp tiến, thức thời, gắn 
             liền với bối cảnh xã hội. Trở lại sau 3 năm tạm hoãn vì đại dịch, ELLE Fashion Show 2022
              mang chủ đề DREAM OF NEW BEGINNINGS, đánh dấu những “khởi đầu mới” đầy ý nghĩa cùng 4 NTK 
              trẻ, ghi nhận những nỗ lực tuyệt vời của một thế hệ
             tài năng và mơ về những bước tiến vươn tầm thế giới của thời trang Việt Nam.</p>
          </div>
        </div>
      </div>
  