<div style="width: 100%; height: 70px; background-color: white;"></div>

<div class="container">
    <div class="row">
        <img class="col-lg-6" style="width: 50%; height: 600px; position: relative;"
            src="https://www.elle.vn/wp-content/uploads/2023/03/15/520589/thumbnail-doc-lv-arch-light2-1024x1195.jpg"
            alt="">
        <div style="position: absolute; width: 300px; height: 60px; border-color:
         black; border-width: 3px; background-color: white; bottom: 0px; left:150px ; align-items: center;">
                <h3 style="text-align: center; font-weight: bold;">THỜI TRANG</h3>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <img class="col-lg-6" style="width: 300px;"
             src="https://www.elle.vn/wp-content/uploads/2023/03/12/519435/thumbnail-ngang-xu-huong-hoa-tiet-2023-490x276.jpg" alt="">
             <div style="width: 285px ;" class="col-lg-6">
                <h4>NHỮNG HOẠ TIẾT NÀO ĐANG DẪN ĐẦU CUỘC ĐUA XU HƯỚNG TRÊN ĐƯỜNG BĂNG 2023?</h4>
                <p>Những tháng thời trang Xuân - Hè và Thu - Đông 2023 chính thức khép lại, bảng xếp hạng đang gọi...</p>
             </div>
             
          </div>
          <p style="height: 0.5px; width: 100%; background-color: gray; margin-top: 10px;"> </p>
          <div class="row">
            <img class="col-lg-6" style="width: 300px;"
             src="https://www.elle.vn/wp-content/uploads/2023/03/14/520505/thumbnail-ngang-chau-bui-charles-keith-490x276.jpg" alt="">
             <div style="width: 285px ;" class="col-lg-6">
                <h4>CHÂU BÙI: “CHARLES & KEITH X CHAU BUI LÀ MỘT VINH DỰ ĐỐI VỚI CHÂU”</h4>
                <p>Qua bộ sưu tập độc quyền với Charles & Keith, Châu Bùi mong muốn khơi gợi nguồn cảm hứng cho các...</p>
             </div>
             
          </div>
          <p style="height: 0.5px; width: 100%; background-color: gray; margin-top: 10px;"> </p>
          <div class="row" style="margin-top: 20px;">
            <img class="col-lg-6" style="width: 300px;"
             src="https://www.elle.vn/wp-content/uploads/2023/03/14/520366/Hinh-Cover-490x276.jpg" alt="">
             <div style="width: 285px ;" class="col-lg-6">
                <h4>LAN TOẢ MÙI HƯƠNG TRẺ TRUNG, BỨT PHÁ CÙNG THU ANH, MIKE LEI VÀ MCM ULTRA EAU DE PARFUM</h4>
                <p>Sau chiếc balo thương hiệu được giới trẻ săn đón rầm rộ, thương hiệu MCM tiếp tục gây sốt khi ra...</p>
             </div>
             
          </div>
          <p style="height: 0.5px; width: 100%; background-color: gray; margin-top: 10px;"> </p>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-4">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/24/517133/EBAs-kv-800x450-1-445x250.jpg"
                class="img-rounded" alt="Cinque Terre" style="width: 100%;">
            <p style="margin-top:10px;">ELLE BEAUTY AWARDS 2023 – ĐÓN CHỜ NHỮNG HẠNG MỤC VÀ GIẢI THƯỞNG MỚI</p>

        </div>
        <div class="col-lg-4 ">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/27/517907/trai-bai-tarot-tuan-27-2-5-3-445x250.jpg"
                class="img-rounded" alt="Cinque Terre" style="width: 100%;">
            <p style="margin-top:10px;">TRẢI BÀI TAROT: ĐIỀU GÌ SẼ ĐẾN VỚI BẠN TRONG TUẦN LỄ 27/2 – 5/3?</p>

        </div>
        <div class="col-lg-4">
            <img src="https://www.elle.vn/wp-content/uploads/2023/02/22/517116/Thiet-ke-chua-co-ten-28-445x250.png"
                class="img-rounded" alt="Cinque Terre" style="width: 100%;">
            <p style="margin-top:10px;">SERUM DƯỠNG TRẮNG NNO VITE ĐƯỢC ĐỀ CỬ TOP 10 “SẢN PHẨM ĐỘT PHÁ” THUỘC ELLE
                BEAUTY AWARDS 2023</p>

        </div>
    </div>
    <div>
        <img src="https://www.elle.vn/wp-content/uploads/2023/02/21/banner_t1-01pt2-scaled.jpg"
            style="width: 100%; margin-top: 20px;" />
    </div>
    <div class="row" style="margin-top: 30px;">
        <iframe class="" src="https://www.youtube.com/embed/tgbNymZ7vqY" style="height:300px; width: 50%;"></iframe>
        <div class="col-lg-6">
            <h3>ELLE FASHION SHOW 2022: MƠ VỀ NHỮNG CHÂN TRỜI MỚI | ELLE VIETNAM</h3>
            <p>Là sự kiện thời trang được mong đợi nhất trong năm, ELLE Fashion Show không
                chỉ mang đến một đêm diễn đậm chất nghệ thuật, giới thiệu những BST mới nhất của các
                NTK và thương hiệu nổi bật mà còn gửi gắm nhiều thông điệp cấp tiến, thức thời, gắn
                liền với bối cảnh xã hội. Trở lại sau 3 năm tạm hoãn vì đại dịch, ELLE Fashion Show 2022
                mang chủ đề DREAM OF NEW BEGINNINGS, đánh dấu những “khởi đầu mới” đầy ý nghĩa cùng 4 NTK
                trẻ, ghi nhận những nỗ lực tuyệt vời của một thế hệ
                tài năng và mơ về những bước tiến vươn tầm thế giới của thời trang Việt Nam.</p>
        </div>
    </div>
</div>